.my-orders-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; */
  }
  .my-orders-container h1{margin-bottom: 24px;}
  .orders-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .order-item {
    /* border: 1px solid #ccc;
    border-radius: 5px;
   
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    background: rgba(248, 249, 250, 1);
    border: 1px solid rgb(228 231 235);
    border-radius: 8px;
    padding: 16px;
  }
  .order-item img{border-radius: 8px;}
  
  .order-item h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
  }
  
  .order-item p {
    margin: 5px 0;
    color: #555;
  }
  
  .order-items {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  
  .order-item-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
  }
  
  .item-details p {
    margin: 2px 0;
  }